@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_opsz.ttf);
}
@font-face {
    font-family: 'Cousine';
    src: url(../assets/fonts/Cousine/Cousine-Regular.ttf);
}
