<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/src/output.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="w-full h-[100vh] flex items-center justify-center bg-[#191B1B]">
    <div class=" bg-[#141215] rounded-[3.5rem] text-white font-poppins mx-3 max-w-[372px] max-h-[684px] overflow-hidden">
        <img class="w-100% h-64 rounded-[3rem]" src="/aglaya-website/public/panel-top.svg" alt="">
        <div class="p-7">
            <h2 class=" text-4xl">5 reglas de React Native, se un guru</h2>
            <div class="flex items-center my-4">
                <img class="w-10 h-10" src="/aglaya-website/public/avatar.svg" alt="">
                <p class="font-bold text-[#EA5063] ml-1">Joanna Wellick</p>
            </div>
            <div class="flex items-center text-[#6C757D]">
                <div class="w-9 h-[1px] bg-[#6C757D] mr-2"></div>
                <div class="flex items-center">
                    <p>June 28, 2018</p>
                </div>
                <div class="w-1 h-1 rounded-full bg-[#6C757D] ml-7 mr-4"></div>
                <div class="flex">
                    <img src="/assets/share-icon.svg" alt="">
                    <p>1K shares</p>
                </div>
            </div>
            <p class="my-4">Aenean eleifend ante maecenas pulvinar montes lorem et pede dis dolor pretium donec dictum.
                Vici
                consequat justo enim. Venenatis eget adipiscing luctus lorem.</p>
            <a href="" class="flex border border-[#EA5063] justify-center mr-44 rounded-xl py-3 mt-7">Visitar el
                post</a>
        </div>
    </div>
</body>

</html>