@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .card {
        @apply bg-Blue-dark flex items-center justify-start place-content-center rounded-full
        text-white m-2  w-[115px] h-[36px] text-[12px] px-2 gap-1 cursor-pointer md:w-[350px]
        md:h-[50px] md:m-[7px] md:bg-Blue-dark-medium md:shadow-md relative lg:w-[400px] lg:h-[70px];  
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}