<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/monzter-codes/src/components/output.css" rel="stylesheet">
    <link rel="stylesheet" href="./card.css">
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="text-3xl font-bold underline">Hola mundo</h1> -->
     <div class=" flex justify-center px-40 py-24 text-center">
        <div class="px-10 py-10 bg-black rounded-3xl max-w-lg  font-poppins bg-opacity-30 backdrop-blur-sm">
            <h3 class="text-3xl mb-9 mx-3 font-cousine font-semibold text-[#00D1F7]">Abriendo los ojos como <br> dev ¿Qué son los test?</h3>
            <p class="text-white text-base mb-7">Cuando hablo con mis amigos desarrolladores sobre lo que son las pruebas. Siempre llegamos a las mismas conclusiones, es la forma en que verificamos la calidad de nuestros productos con diferentes métodos</p>
            <p class="text-[#A2A2A2] text-base mb-8">José A. Gonzales</p>
            <p class="text-white px-1 py-1 text-base bg-black mx-24 rounded-full bg-opacity-30" >27 de septiembre del 2022</p>
        </div>
     </div>
</body>
</html>