@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Inter';
    src: url(./src/assets/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Cousine';
    src: url(./src/assets/Cousine/Cousine-Bold.ttf);
}

